[service]
; Machine name shown in the Testwall Booker overview
name   = TTC2700

; Base URL of the heartbeat receiver (server.py host)
server = http://c-l-twc-001:8080

; How often to send a heartbeat (seconds)
interval = 5
